 {% extends 'base.html' %}

{% block content %}

{% for play in plays %}
<p> {{play}}</p> 
{% comment %} simple render to check the wiring p tag renders plays and prays inside make a p tag and show it use shortvut ctrl forward slash to commentout in {% endcomment %}
{% endfor %}

{% for pray in prays %}
<p> {{play}} </p> 
{% comment %} simle render to check the wiring p tag renders plays and prays inside make a p tag and show it use shortvut ctrl forward slash to commentout in {% endcomment %}
{% endfor %}
{% endblock %}