{% extends "base.html" %}
{% load static %}
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <link href="{% static 'styles/styles_addBucket.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %} 
    {% block title %}<title>iBe Pray Play</title>{% endblock %} 
{% block content %} 
<body>

  <div class="split left">
    <div class="centered" id="pray">
      <div class="pray">
        <h2>Pray</h2>
        <p>...Become...</p>
        <p>I am beautiful</p>
        <p>Change the world by being yourself!</p>
        <p>Be you.</p>
        <p>Slower, still.</p>
        <p>Love</p>
        <p><form action="#">
          <input type="text" placeholder="enter your pray" name="new pray"> </input>
        </form></p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered" id="play">
      <div class="play">
        <h2>Play</h2>
        <p>...Explore...</p>
        <p>Go for a hike!</p>
        <p>Take a day trip</p>
        <p>Rollerskate in Seychelles</p>
        <p>Climb a mountain</p>
        <p>Book a flight to Japan</p>
        <p><form action="#">
          <input type="text" placeholder="enter your play" name="new play"> </input>
        </form></p>
    </div>

  </div>

</body>
</html>
{% endblock %}