.background {
    background-color: #26B7C4;
    width: 375px;	    
    height: 812px;	    
    margin: auto;	    
}

.plays {
    background-color:#2FE2F2;
    border-radius: 50%; 	 
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.175);	  
}

.prays {
    background-color:#707070;
    border-radius: 50%; 	
    text-align: center;	   
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.175);
}