body {
  font: 25px Arial, sans-serif;
  color: white;
  font-weight: bold;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #2FE2F2;
}

.right {
  right: 0;
  background-color: #707070;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  width: 60%;
  border-radius: 60%;
  height: 50%;
  position: relative;
  right: ;
  bottom: ; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.175);
}

#pray
{
background-color: #707070;
}

#play
{
  background-color: #2FE2F2;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}